<p id="notice"><%= notice %></p>

<h1>Listing Heads</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Surname</th>
      <th>Born date</th>
      <th>Born place</th>
      <th>Cod fiscale</th>
      <th>Address</th>
      <th>Document type</th>
      <th>Document number</th>
      <th>Document date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @heads.each do |head| %>
      <tr>
        <td><%= head.name %></td>
        <td><%= head.surname %></td>
        <td><%= head.born_date %></td>
        <td><%= head.born_place %></td>
        <td><%= head.cod_fiscale %></td>
        <td><%= head.address_id %></td>
        <td><%= head.document_type %></td>
        <td><%= head.document_number %></td>
        <td><%= head.document_date %></td>
        <td><%= link_to 'Show', head %></td>
        <td><%= link_to 'Edit', edit_head_path(head) %></td>
        <td><%= link_to 'Destroy', head, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Head', new_head_path %>
