<%= form_for(@suite) do |f| %>
  <% if @suite.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@suite.errors.count, "error") %> prohibited this suite from being saved:</h2>

      <ul>
      <% @suite.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cpu_p %><br>
    <%= f.text_field :cpu_p %>
  </div>
  <div class="field">
    <%= f.label :ram_p %><br>
    <%= f.text_field :ram_p %>
  </div>
  <div class="field">
    <%= f.label :hd_p %><br>
    <%= f.text_field :hd_p %>
  </div>
  <div class="field">
    <%= f.label :nas_p %><br>
    <%= f.text_field :nas_p %>
  </div>
  <div class="field">
    <%= f.label :cpu_q %><br>
    <%= f.number_field :cpu_q %>
  </div>
  <div class="field">
    <%= f.label :ram_q %><br>
    <%= f.number_field :ram_q %>
  </div>
  <div class="field">
    <%= f.label :hd_q %><br>
    <%= f.number_field :hd_q %>
  </div>
  <div class="field">
    <%= f.label :nas_q %><br>
    <%= f.number_field :nas_q %>
  </div>
  <div class="field">
    <%= f.label :base %><br>
    <%= f.text_field :base %>
  </div>
  <div class="field">
    <%= f.label :mensilita %><br>
    <%= f.number_field :mensilita %>
  </div>
  <div class="field">
    <%= f.label :attivazione %><br>
    <%= f.date_select :attivazione %>
  </div>
  <div class="field">
    <%= f.label :tot %><br>
    <%= f.text_field :tot %>
  </div>
  <div class="field">
    <%= f.label :costumer_id %><br>
    <%= f.number_field :costumer_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
