<p id="notice"><%= notice %></p>

<p>
  <strong>Cpu p:</strong>
  <%= @suite.cpu_p %>
</p>

<p>
  <strong>Ram p:</strong>
  <%= @suite.ram_p %>
</p>

<p>
  <strong>Hd p:</strong>
  <%= @suite.hd_p %>
</p>

<p>
  <strong>Nas p:</strong>
  <%= @suite.nas_p %>
</p>

<p>
  <strong>Cpu q:</strong>
  <%= @suite.cpu_q %>
</p>

<p>
  <strong>Ram q:</strong>
  <%= @suite.ram_q %>
</p>

<p>
  <strong>Hd q:</strong>
  <%= @suite.hd_q %>
</p>

<p>
  <strong>Nas q:</strong>
  <%= @suite.nas_q %>
</p>

<p>
  <strong>Base:</strong>
  <%= @suite.base %>
</p>

<p>
  <strong>Mensilita:</strong>
  <%= @suite.mensilita %>
</p>

<p>
  <strong>Attivazione:</strong>
  <%= @suite.attivazione %>
</p>

<p>
  <strong>Tot:</strong>
  <%= @suite.tot %>
</p>

<p>
  <strong>Costumer:</strong>
  <%= @suite.costumer_id %>
</p>

<%= link_to 'Edit', edit_suite_path(@suite) %> |
<%= link_to 'Back', suites_path %>
