<%= form_for(@contract) do |f| %>
  <% if @contract.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contract.errors.count, "error") %> prohibited this contract from being saved:</h2>

      <ul>
      <% @contract.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.fields_for :company do |builder| %>
        <%= render 'company_field', :f => builder %>
    <% end %>
    <h1>Referenti</h1>
    <%= f.fields_for :referent do |builder| %>
        <%= render 'referent_field', :f => builder %>
    <% end %>
  <div class="field">
    <%= f.label :data %><br>
    <%= f.date_select :data %>
  </div>
  <div class="field">
    <%= f.label :activation_data %><br>
    <%= f.date_select :activation_data %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
