<p id="notice"><%= notice %></p>
<h1><%= @company.ragione_sociale %> (<%= @company_address.route %>)</h1>
<h2><%= @head.name + ' ' + @head.surname  %> (<%= @head_address.route %>)</h2>
<p>
  <strong>Company:</strong>
  <%= @contract.company_id %>
</p>

<p>
  <strong>Referent:</strong>
  <%= @contract.referent_id %>
</p>

<p>
  <strong>Data:</strong>
  <%= @contract.data %>
</p>

<p>
  <strong>Activation data:</strong>
  <%= @contract.activation_data %>
</p>

<%= link_to 'Edit', edit_contract_path(@contract) %> |
<%= link_to 'Back', contracts_path %>
