<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo:</strong>
  <%= @block.tipo %>
</p>

<p>
  <strong>Cu:</strong>
  <%= @block.cu %>
</p>

<p>
  <strong>Q:</strong>
  <%= @block.q %>
</p>

<p>
  <strong>Mensilita:</strong>
  <%= @block.mensilita %>
</p>

<p>
  <strong>Tot:</strong>
  <%= @block.tot %>
</p>

<p>
  <strong>Attivazione:</strong>
  <%= @block.attivazione %>
</p>

<%= link_to 'Edit', edit_block_path(@block) %> |
<%= link_to 'Back', blocks_path %>
