<%= form_for(@domain) do |f| %>
  <% if @domain.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@domain.errors.count, "error") %> prohibited this domain from being saved:</h2>

      <ul>
      <% @domain.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br>
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :estensione %><br>
    <%= f.text_field :estensione %>
  </div>
  <div class="field">
    <%= f.label :costo %><br>
    <%= f.text_field :costo %>
  </div>
  <div class="field">
    <%= f.label :mensilita %><br>
    <%= f.number_field :mensilita %>
  </div>
  <div class="field">
    <%= f.label :tot %><br>
    <%= f.text_field :tot %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
