<p id="notice"><%= notice %></p>

<h1>Listing Companies</h1>

<table>
  <thead>
    <tr>
      <th>Referent</th>
      <th>Address</th>
      <th>Ragione sociale</th>
      <th>Piva</th>
      <th>Phone number</th>
      <th>Fax</th>
      <th>Mail</th>
      <th>Iban</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= company.referent_id %></td>
        <td><%= company.address_id %></td>
        <td><%= company.ragione_sociale %></td>
        <td><%= company.piva %></td>
        <td><%= company.phone_number %></td>
        <td><%= company.fax %></td>
        <td><%= company.mail %></td>
        <td><%= company.iban %></td>
        <td><%= link_to 'Show', company %></td>
        <td><%= link_to 'Edit', edit_company_path(company) %></td>
        <td><%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Company', new_company_path %>
