<p id="notice"><%= notice %></p>

<h1>Listing Billings</h1>

<table>
  <thead>
    <tr>
      <th>Ragione sociale</th>
      <th>Address</th>
      <th>Payment mode</th>
      <th>Bank</th>
      <th>Agency</th>
      <th>Iban</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @billings.each do |billing| %>
      <tr>
        <td><%= billing.ragione_sociale %></td>
        <td><%= billing.address_id %></td>
        <td><%= billing.payment_mode %></td>
        <td><%= billing.bank %></td>
        <td><%= billing.agency %></td>
        <td><%= billing.iban %></td>
        <td><%= link_to 'Show', billing %></td>
        <td><%= link_to 'Edit', edit_billing_path(billing) %></td>
        <td><%= link_to 'Destroy', billing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Billing', new_billing_path %>
