<p id="notice"><%= notice %></p>

<p>
  <strong>Route:</strong>
  <%= @address.route %>
</p>

<p>
  <strong>Number:</strong>
  <%= @address.number %>
</p>

<p>
  <strong>Cap:</strong>
  <%= @address.cap %>
</p>

<p>
  <strong>Prov:</strong>
  <%= @address.prov %>
</p>

<p>
  <strong>City:</strong>
  <%= @address.city %>
</p>

<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', addresses_path %>
